<li>
<p>{{inquiry.author}}</p> <p>{{inquiry.greatQuestion}}</p> <p>{{inquiry.notes}}</p>
{{update-inquiry inquiry=inquiry update="update"}}
<button {{action 'delete' inquiry}}> Delete Question </button>
</li>
