<li>
{{inquiry.author}} {{inquiry.greatQuestion}} {{inquiry.notes}}
<button {{action 'delete' inquiry}}> Delete Question </button>
</li>


{{#if addNewInquiry}}
  <h1>New Question</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="greatQuestion">Question</label>
        {{input value=greatQuestion id="greatQuestion"}}
      </div>

      <div class="form-group">
        <label for="notes">City</label>
        {{input value=notes id="notes"}}
      </div>

      <button {{action 'saveInquiry'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'inquiryFormShow'}}>New Question</button>
{{/if}}
