{{#if addNewAnswer}}
<h1>New Answer</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="name">Author</label>
        {{input value=name id="name"}}
      </div>
      <div class="form-group">
        <label for="newAnswer">Answer</label>
        {{input value=newAnswer id="newAnswer"}}
      </div>
      <button {{action 'saveAnswer'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'answerFormShow'}}>New Answer</button>
{{/if}}
